<div class="card mb-3" style="width: 49%">
    <div class="card-body">
        <h5 class="card-title">{{city}}, {{country}}</h5>

        <div class="col-xs-12">
            <p>Temp: {{temp}}</p>
            <p>Wind: {{wind}}</p>
            <p>Precipitation: {{prec}} {{prec_unit}}</p>
        </div>
    </div>
</div>