<html>
<head>
    <title>
        {{title}}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <h1>{{text}}</h1>
            <div class="col-xs-12">
                <form action="/">
                    <div class="form-group">
                        <input data-js-action="suggest-city" class="form-control" name="city" type="text" placeholder="Find your city">
                    </div>
                </form>

                <div class="container">
                    <div class="col-xs-12">
                        <div class="row d-flex flex-row justify-content-between gx-5" data-js-action="show-weather">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="App/View/assets/App.js"></script>
</body>
</html>